$size: 100px;

.btn-cool {
  border-radius: 50%;
  display: flex;
  border: 2px solid blue;
  width: $size;
  height: $size;
  justify-content: center;
  align-items: center;
  outline: none;
  &:focus {
    border: 2px solid red;
  }
}
