.head {
  background-image: url(../../assets/images/img_fjords_wide.jpg);
  height: 330px;
  padding: 10px;
}
.head__border {
  position: relative;
  border: 2px solid aqua;
  margin: 8px;
  height: 310px;
  z-index: 1;
}
.head__text {
  position: absolute;
  top: 330px;
  left: 50%;
  color: aqua;
  transform: translateX(-50%);
  margin-top: -20px;
  z-index: 10;
}
.head__text h4 {
  margin-top: 18px;
  z-index: 10;
}
.menu {
  display: flex;
  justify-content: center;
}
.menu-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 30px;
  margin-left: 30px;
  align-items: center;
}
.menu-item__text {
  font: 100;
}
.menu-item__line {
  border: 1px solid blue;
  width: 50px;
}
.menu-item:hover {
  transform: scale(1.3);
  cursor: pointer;
}

@media (max-width: 500px) {
  .menu {
    flex-direction: column;
  }
  .head__text h4 {
    display: none;
  }
}
